
* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: antiquewhite;
    padding: 20px;;
}

header {
    color:antiquewhite;
    font-size: 20px;
    margin: auto;
}

nav {
    display: inline-block;
}

.navbar {
    background-color: rgb(186, 98, 116);
    list-style-type: none;
    margin: auto;
    position: fixed;
    border-style: double;
    top: 0;
    width: 100%;
}

.navbar li {
    float: left;
    border-right: 1px solid antiquewhite;
}

.navbar a {
    display: block;
    color: rgb(255, 212, 196);
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

.navbar a:hover {
    color:antiquewhite;
  }


h1 {
    background-color: rgba(186, 98, 116, 0.76);
    color:rgb(255, 212, 196);
    text-align: center;
    border-style: double;
    margin: auto;
    padding: 20px;
    width: 100%;
}

.front-img {
    width: 100%;
    clear: left;
    padding: 10px;
}

h2 {
    text-align: center;
    color:rgb(186, 98, 116);
    width: 100%;
}

p {
    text-align: justify;
    padding: 20px;
}

.intro {
    display:inline-block;
    width: 100%;
}

.intro-img {
    float: right;
    width: 35%;
    padding: 20px; 
}

.projectes-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

.projectes-flex > article {
    border: 2px solid rgb(197, 147, 134);
    border-radius: 5px;
    width: 30%;
    margin: 10px;
    padding: 20px;
}

.experiencia-container {
    background-color:rgb(197, 147, 134);
    color:antiquewhite;
    text-align: center;
}

.persentage {
    text-align: center;
}

.experiencia-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content:center;    
}

h2.experiencia {
    color:antiquewhite;
    padding: 20px;
}

.round {
    transform: rotate(-90deg);

    /* SVG */
    fill: none;
    stroke: antiquewhite;
    stroke-width: 8;
    stroke-linecap: round;
}

.aficions-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.aficio {    
    background-color:#e6cab5;
    border: 2px solid rgb(197, 147, 134);
    text-align: center;
    width: 45%;
    margin: 2%;
    line-height: 75px;
}

.aficio-img {
    width: 10%;
    display: inline-block;
}

.aficio-text {
    display: inline-block;
}

form.formulari {
    background: url("/assets/img.formulari.jpg") no-repeat 100%;
    width: auto;
    margin: auto;
    padding: 30px;
    text-align: center;
}

input[type=text], select {
    width: 60%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 25%;
    background-color: rgb(197, 147, 134);
    color:antiquewhite;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  textarea {
    width: 60%;
    height: 150px;
    padding: 14px 20px;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 4px;
    resize: none;
  }

  footer {
    background-color: rgb(186, 98, 116);
    height: 50px;
  }
  .social {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  