
* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body {
    background-color: antiquewhite;
}

header {
    color:antiquewhite;
    font-size: 20px;
    margin: auto;
}

nav {
    display: inline-block;
}

.navbar {
    background-color: rgb(186, 98, 116);
    list-style-type: none;
    margin: auto;
    position: fixed;
    border-style: double;
    top: 0;
    width: 100%;
}

.navbar li {
    float: left;
    border-right: 1px solid antiquewhite;
}

.navbar a {
    display: block;
    color: rgb(255, 212, 196);
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

.navbar a:hover {
    color:antiquewhite;
  }


h1 {
    background-color: rgba(186, 98, 116, 0.76);
    color:rgb(255, 212, 196);
    text-align: center;
    border-style: double;
    margin: auto;
    padding: 20px;
    width: 100%;
}

h2 {
    color:rgb(186, 98, 116);
    text-align: center;
}

p {
    text-align: justify;
}

.index {
    text-align: center;
    margin-top: 10px;
}

.dades-personals {
    background-color:#e6cab5;
    text-align: left;
    margin-top: 10px;
    padding: 10px 10px;
}

table, td, th {
    text-align: center;
    border: 1px solid;
    width:fit-content;
    padding: 10px;
  }
  
  table {
    border-collapse: collapse;
    width:fit-content;
    margin-top: 10px;
    padding: 10px 10px;
  }

  .estudis {
    background-color:#e6cab5;
    text-align: left;
    margin-top: 10px;
    padding: 10px 10px;

  }

