
* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

header {
    padding: 1px;
    margin: auto;
    color:antiquewhite;
    font-size: 20px;
}

body {
    background-color: antiquewhite;
}

nav {
    display: inline-block;
}

.navbar {
    list-style-type: none;
    margin: auto;
    background-color: rgb(186, 98, 116);
    position: fixed;
    border-style: double;
    top: 0;
    width:100%;
}

.navbar li {
    float: left;
    border-right: 1px solid antiquewhite;
}

.navbar a {
    display: block;
    color: rgb(255, 212, 196);
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

.navbar a:hover {
    color:antiquewhite;
  }


h1 {
    background-color: rgb(186, 98, 116);
    color:rgb(255, 212, 196);
    text-align: center;
    margin: auto;
    padding: 20px;
    border-style: double;
}

h2 {
    color:rgb(186, 98, 116);
}

.experiencia {
    background-color:rgb(197, 147, 134);
    color:antiquewhite
}

.projecte {
    border: 2px solid rgb(197, 147, 134);
    border-radius: 5px;
}

#musica, #viatjar, #caminar, #esport {
    background-color:#e6cab5;
}

h2.formulari {
    text-align: center;
    background-image: url("/assets/img.formulari.jpg");
    background-repeat: no-repeat;
    background-size: 1400px;
    padding: 30px;
}
